.vertical-center {
  margin-top: 10%;
}

.jumbotron {
  background-color: #345678;
}

.jumbotron h1 {
  font-family: Arial;
  font-size: 48px;
  margin-left: 10%;
  color: white;
}

.jumbotron p {
  font-family: Arial;
  margin-left: 10%;
  color: white;
}

th {
  cursor: pointer;
}
